@model EasyPassPortal.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditUserPassword</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/EditUserPassword.css" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <div class="navbar navbar-expand-lg">
        <img class="img" src="~/Content/Images/3742bcd3b4b5d471dae27a60bd4b5f07.jpg" style="width:60px;height:56px" alt="Logo">
        <a href="@Url.Action("HomePageDetails","User")"> <p style="color: aliceblue; margin-left:50px; padding-top: 20px; font-size: larger; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">EasyPassPortal</p></a>

        <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav ml-auto">


                @{
                    var userEmail = Session["UserEmail"] as string;
                }
                @if (ViewBag.IsUserPassportApplyed == true)
                {
                    // User has applied for a passport
                    // You can add content here that should be displayed when the user has applied for a passport
                }
                else
                {
                    // User has not applied for a passport
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("AddUserPassportDetail", "User")">Create Passport</a>
                    </li>
                }


                @if (!string.IsNullOrEmpty(userEmail))
                {
                    @*<li class="nav-item">
                <a class="nav-link active" aria-current="page" href="@Url.Action("AddUserPassportDetail", "User")">Create Passport</a>
            </li>*@

                }
                @if (string.IsNullOrEmpty(userEmail))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LoginUserDetail", "User")">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AddUserDetail", "User")">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("About", "User")">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "User")">Contact us</a>
                    </li>
                }



                @if (!string.IsNullOrEmpty(userEmail))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Logout", "LogOutUser", "User", new { @class = "nav-link" })
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="container mt-5">
        @using (Html.BeginForm("EditUserPassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Edit Password</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "New Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Password("ConfirmPassword", null, new { @class = "form-control", placeholder = "Confirm New Password" })
                    @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>





    @*<footer>
            <div class="footer">
                <div class="column">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook" style="width: 50px; height: 50px;"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="width: 50px; height: 50px;"></i></a>
                    <a href="https://www.youtube.com/"><i class="fa fa-youtube" style="width: 50px; height: 50px;"></i></a>
                    <a href="https://x.com/i/flow/login"><i class="fa fa-twitter" style="width: 50px; height: 50px;"></i></a>
                </div>

                <div class="row">
                    <ul>
                        <li><a href="@Url.Action("Contact", "User")">Contact us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>
                </div>
            </div>
        </footer>*@

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                var password = $('#Password').val();
                var confirmPassword = $('#ConfirmPassword').val();

                if (password !== confirmPassword) {
                    $('.text-danger[data-valmsg-for="ConfirmPassword"]').text("Passwords do not match.");
                    return false; // Prevent form submission
                } else {
                    $('.text-danger[data-valmsg-for="ConfirmPassword"]').text("");
                    return true; // Allow form submission
                }
            });
        });
    </script>

</body>
</html>

