@model IEnumerable<EasyPassPortal.Models.UserPassportDetails>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Home Page</title>
    <link rel="stylesheet" href="~/Content/CSS/AdminCss/AdminHomePage.css">
    <link rel="stylesheet" href="~/Content/CSS/AdminCss/AdminHomePageResponsive.css">
</head>

<body>
    <!-- for header part -->
    <header>
        <div class="logosec">
            <div class="logo">EASYPASSPORTAL</div>
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
                 class="icn menuicn"
                 id="menuicn"
                 alt="menu-icon">
        </div>
    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                  

                    <div class="nav-option option1">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
                             class="nav-img"
                             alt="PassportDetails">
                        <a href="@Url.Action("GetAccountDetails","Admin")"><h3> Passport details</h3></a>
                    </div>
                    <div class="nav-option logout">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
                             class="nav-img"
                             alt="logout">
                        <a href="@Url.Action("LogOutAdmin", "Admin")" class="nav-link">
                            <h3>Logout</h3>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="main">
            <div class="searchbar2">
                <input type="text" name="" id="" placeholder="Search">
                <div class="searchbtn">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
                         class="icn srchicn" alt="search-button">
                </div>
            </div>
            <div class="report-container">
                <div class="report-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Father's Name</th>
                                <th>Mother's Name</th>
                                <th>Gender</th>
                                <th>Date of Birth</th>
                                <th>Address</th>
                                <th>Religion</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Aadhar Number</th>
                                <th>Pancard Number</th>
                                <th>Education</th>
                                <th>Status</th>
                                <th>Image</th>
                                <th>Aadhar Photo</th>
                                <th>Id Proof</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FatherName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MothersName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Religion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                                    <td>@Html.DisplayFor(modelItem => item.District)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AadharNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PancardNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Education)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    <td>
                                        @if (item.Image != null && item.Image.Length > 0)
                                        {
                                            var base64 = Convert.ToBase64String(item.Image);
                                            var imgSrc = $"data:image/jpeg;base64,{base64}";
                                            <img src="@imgSrc" style="max-width:100px; max-height:100px;" alt="User Image" />
                                        }
                                        else
                                        {
                                            <span>No image available</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.AadharPhoto != null && item.AadharPhoto.Length > 0)
                                        {
                                            var base64 = Convert.ToBase64String(item.AadharPhoto);
                                            var imgSrc = $"data:image/jpeg;base64,{base64}";
                                            <img src="@imgSrc" style="max-width:100px; max-height:100px;" alt="User Image" />
                                        }
                                        else
                                        {
                                            <span>No image available</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IdProof != null && item.IdProof.Length > 0)
                                        {
                                            var base64 = Convert.ToBase64String(item.IdProof);
                                            var imgSrc = $"data:image/jpeg;base64,{base64}";
                                            <img src="@imgSrc" style="max-width:100px; max-height:100px;" alt="User Image" />
                                        }
                                        else
                                        {
                                            <span>No image available</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("View Details", "PolicePassportManagement", "Police", new { email = item.Email }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/AdminScript/AdminHomePage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

