
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">
    <title>GeeksForGeeks</title>
    <link rel="stylesheet"
          href="~/Content/CSS/AdminCss/AdminHomePage.css">
    <link rel="stylesheet"
          href="~/Content/CSS/AdminCss/AdminHomePageResponsive.css">
    
</head>

<body>

    <!-- for header part -->
    <header>

        <div class="logosec">
            <div class="logo">EASYPASSPORTAL</div>
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
                 class="icn menuicn"
                 id="menuicn"
                 alt="menu-icon">
        </div>
    </header>
    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option option1">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
                             class="nav-img"
                             alt="dashboard">
                        <a href="@Url.Action("AdminHomePage","Admin")"> <h3> Dashboard</h3></a>
                    </div>

                    <div class="option2 nav-option">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
                             class="nav-img"
                             alt="PassportDetails">
                        <a href="@Url.Action("GetAccountDetails","Admin")"><h3> Passport details</h3></a>
                    </div>

                    <div class="nav-option option3">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png"
                             class="nav-img"
                             alt="userDetails">
                        <a href="@Url.Action("GetUserDetails","Admin")"> <h3>User Details</h3></a>
                    </div>
                    <div class="nav-option change-password">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
                             class="nav-img"
                             alt="change-password">
                        <a href="@Url.Action("EditAdminPassword", "Admin")" class="nav-link">
                            <h3>Change Password</h3>
                        </a>
                    </div>
                    <div class="nav-option logout">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
                             class="nav-img"
                             alt="logout">
                        <a href="@Url.Action("AddNewAdmin", "Admin")" class="nav-link">
                            <h3>Add new admin</h3>
                        </a>
                    </div>


                    <div class="nav-option logout">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
                             class="nav-img"
                             alt="logout">
                        <a href="@Url.Action("LogOutAdmin", "Admin")" class="nav-link">
                            <h3>Logout</h3>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main">

            <div class="searchbar2">
                <input type="text"
                       name=""
                       id=""
                       placeholder="Search">
                <div class="searchbtn">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
                         class="icn srchicn"
                         alt="search-button">
                </div>
            </div>
            <div class="box-container">
                <div class="box box1">
                    <div class="text">
                        @if (ViewBag.TotalUserCount != null)
                        {
                            <h2 class="topic-heading"> @ViewBag.TotalUserCount</h2>
                        }
                        <h2 class="topic">Users</h2>
                    </div>

                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(31).png"
                         alt="Views">
                </div>
                <div class="box box2">
                    <div class="text">
                        @if (ViewBag.TotalPassportCount != null)
                        {
                            <h2 class="topic-heading"> @ViewBag.TotalPassportCount</h2>
                        }
                        <h2 class="topic">Total passports</h2>
                    </div>
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210185030/14.png"
                         alt="likes">
                </div>
            </div>
            <div style="display: flex; padding-top: 50px; gap: 150px;">
                <div style="flex: 1; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border-radius: 8px; background-color: white;">
                    <canvas id="myChart" style="max-height: 290px;"></canvas>
                </div>
                <div style="flex: 1; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border-radius: 8px; background-color: white;">
                    <canvas id="myChart1" style="max-height: 290px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/AdminScript/AdminHomePage.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        const totalUserCount = @ViewBag.TotalUserCount ?? 0;
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["May", "June",
                    "July", "August", "September"],
                datasets: [{
                    label: 'Total uses',
                    data: [0, 5, totalUserCount, 0,0],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

         const ctx1 = document.getElementById('myChart1');
        const TotalPassportCount = @ViewBag.TotalPassportCount ?? 0;
            new Chart(ctx1, {
             type: 'doughnut',
            data: {
              labels: ["May", "June",
                 "July", "August", "September"],
                 datasets: [{
                     label: 'Passport request',
                     data: [0, 4, TotalPassportCount, 0, 0],
                     borderWidth: 1
         }]
     },
     options: {
         scales: {
             y: {
                 beginAtZero: true
             }
         }
     }
 });
    </script>
</body>
</html>