@model IEnumerable<EasyPassPortal.Models.UserModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetUserDetails</title>
    <link rel="stylesheet" href="~/Content/CSS/AdminCss/AdminHomePage.css">
    <link rel="stylesheet" href="~/Content/CSS/AdminCss/AdminHomePageResponsive.css">
   
</head>

<body>
    <!-- for header part -->
     <header>

        <div class="logosec">
            <div class="logo">EASYPASSPORTAL</div>
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
                 class="icn menuicn"
                 id="menuicn"
                 alt="menu-icon">
        </div>

    </header>

    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
                             class="nav-img"
                             alt="dashboard">
                        <a href="@Url.Action("AdminHomePage","Admin")"> <h3> Dashboard</h3></a>
                    </div>

                    <div class="option2 nav-option">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
                             class="nav-img"
                             alt="PassportDetails">
                        <a href="@Url.Action("GetAccountDetails","Admin")"><h3> Passport details</h3></a>
                    </div>

                    <div class="nav-option option1">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png"
                             class="nav-img"
                             alt="userDetails">
                        <a href="@Url.Action("GetUserDetails","Admin")"> <h3>User Details</h3></a>
                    </div>
                    <div class="nav-option change-password">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
                             class="nav-img"
                             alt="change-password">
                        <a href="@Url.Action("EditAdminPassword", "Admin")" class="nav-link">
                            <h3>Change Password</h3>
                        </a>
                    </div>


                    <div class="nav-option logout">
                        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
                             class="nav-img"
                             alt="logout">
                        <a href="@Url.Action("LogOutAdmin", "Admin")" class="nav-link">
                            <h3>Logout</h3>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="main">
            <div class="searchbar2">
                <input type="text" name="" id="" placeholder="Search">
                <div class="searchbtn">
                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
                         class="icn srchicn" alt="search-button">
                </div>
            </div>

            <div class="box-container">

                <div class="box box1">
                    <div class="text">
                        @if (ViewBag.TotalUserCount != null)
                        {
                            <h2 class="topic-heading"> @ViewBag.TotalUserCount</h2>
                        }
                        <h2 class="topic">Users</h2>
                    </div>

                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210184645/Untitled-design-(31).png"
                         alt="Views">
                </div>

                <div class="box box2">
                    <div class="text">
                        @if (ViewBag.TotalPassportCount != null)
                        {
                            <h2 class="topic-heading"> @ViewBag.TotalPassportCount</h2>
                        }
                        <h2 class="topic">Total passports</h2>
                    </div>

                    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210185030/14.png"
                         alt="likes">
                </div>
            </div>

            <div class="report-container">
                @*<div class="report-header">
                <h1 class="recent-Articles">User Details</h1>
                @Html.ActionLink("Create New", "Create", new { @class = "view" })
            </div>*@

                <div class="report-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.UserID)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.Password)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                                    <td>

                                        @Html.ActionLink("Delete User", "DeleteUserDetail", new { id = item.UserID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/AdminScript/AdminHomePage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
